

header{
    background: #4B4545;
    padding: 10px 0;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.myNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    

}

.tabs{
    display: flex;
    color: #FFFFFF;
    gap: 20px;
}
.int{
    color: #FFFFFF;
}

a{
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
}